{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}
    <h1 class="text-3xl font-bold underline bg-blue-700">
        Hello world!
    </h1>
{% endblock %}
